.click-button {
  position: relative;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 40px;
  font-size: 24px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: url("/assets/images/Sword.gif"), auto;
  z-index: 10;
  align-items: center;
}
.click-button:active {
  cursor: url("/assets/images/Sword.gif");
}
.click-button img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
