/* src/components/Button.css */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* This will center the button vertically in the top half of the screen */
}

.click-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.click-button img {
  width: 450px;
  height: auto;
}
