.button {
  display: block;
  width: 150px;
  height: 150px;
  margin: 20px auto;
  background: url("/assets/button.gif") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: transform 0.1s;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.9);
}
