/* src/components/NameEntry.css */
.name-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.name-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.save-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: chartreuse;
  color: gray;
  text-shadow: 1px 1px 1px black;
}
