.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #040404;
  text-align: center;
}

.upgrade-image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-bottom: 10px;
}

.upgrade h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.upgrade p {
  margin: 2px 0;
  font-size: 14px;
}

.upgrade button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #181a18;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.upgrade button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.can-afford {
  border-color: #36d413;
}
